@viewport, @-o-viewport, @-moz-viewport, @-webkit-viewport {
    width: device-width;
	}

* {
	margin:0;
	padding:0;
	}



body {
	font: 100%/1.5 Arial, Helvetica, sans-serif; /* 16px */  
	color:#000000;
	background-color:#eaf5fb;
	margin:0;
	padding:.2em 1em 1em 1em;
	}

a	{color:#2c99d4;}
a:hover	{color:#7bcbc7;}

#appPreView	{margin-top:10%;}
#appPreView, .whiteBG	{padding:1.0em; background:#ffffff; border:1px solid #d2e9f6;}

/*
the design is basically a five column layout, so by sticking to these percentages for elements, we can ensure column integrety
the padding is to compensate for the spacing between the main nav.
 */
.percent20	{width:20%; padding:.2em;}
.percent40	{width:40%; padding:.2em;}

#mainContentArea	{padding:.4em .2em;} /* side padding is compensating for margins on main nav */

/* topNav is the container for the content above the white bg */
.topNav	{font-size:.75em;} /* @REB - need a media query here to when this gets down to vertical pad size. @ phone size, hide items to make room */
.topNav	.guarantee {} /* @REB - add guarantee bg here using sprite */
.topNav nav	{text-align:right; color:#666666;}
.topNav nav a	{text-decoration:none;}
.topNav nav a:hover	{text-decoration:underline;}

.sprite {
	background-image: url('images/_beachmall_sprites.png');
	}

.logo {
	background-position: 0 0;
	width:163px;
	height:89px;
	float:left;
	}

.searchContainer	{border:1px solid #cce7f5;}
.searchContainer .productSearchKeyword	{border:0; background:#ffffff; padding:0; margin:0; text-indent:.4em; width:85%;}
.searchContainer .searchButton	{background:#ffffff; border:0; text-indent:-10000px;} /* @REB - apply the mag glass bg here using sprite */


.phone {
	font-size:110%;
	font-weight:bold;
	color:#58CCF5;
}


.categoryNav	{position:relative;}
.categoryNav ul#tier1categories {
/*	display:inline;*/
	margin:0 auto;
	
	}
.rootCatThumb	{width:100%; overflow:hidden; text-align:center; vertical-align:central; display:none;}
.rootCatThumb img	{width:100%; height:100%}
.categoryNav ul li {
	list-style:none;
	float:left;
}

.categoryNav > ul > li	{
	width:20%; background:#0285cd; border-right:.2em solid #ffffff; border-left:.2em solid #ffffff;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */	
	}

.categoryNav > ul > li:nth-child(2), .categoryNav > ul > li:nth-child(4)	{background:#00a9a4;}
.categoryNav > ul > li:nth-child(3)	{background:#ffc50c;}



.categoryNav > ul > li > a	{display:block; padding:.3em; border:.1.5em solid #ffffff; margin:.2em; color:#ffffff; text-decoration:none; text-align:center;}

.categoryNav ul li li a {
	display:block;
	color:#000000;
	}

.categoryNav ul li a:hover {
	background-color:#FBF7AE;
}

.categoryNav .catMenu {
	display:none;
	background-color:#FBF7AE;
	padding:.4em;
	z-index:10001;
	margin:-1px .2em; /* side margins is to compensate for cols between main nav */
	position:absolute;
	left:0; right:0; height:260px; /* @REB - probably want a media query to adjust this height down as site scales down */
	}

.catMenu ul {
	float:left;
	margin: 0 30px 0 0;
}

.catMenu ul li a {
	padding:3px;
}

.catMenu .catMenuImg {
	float:right;
}

.catMenuMenu  a{
	font-size:0.85em;
	font-weight:normal;
	padding:0;
	display:inline;
}

.categoryNav ul li ul.child_menu li {
	float:none;
}

.categoryNav ul li:hover div.catMenu{
	display:block !important;
}

.social a , .social a:link, .social a:visited, .social a:hover, .social a:active{
	text-decoration:none;
}




/*
HOMEPAGE
*/


/* for the carousel */
.list_carousel {
	background-color: #ccc;
	position:relative;
	margin: 0 0 12px 0px;
	}
.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
	}
.list_carousel li {
	text-align: center;
	width: 120px;
	height: 120px;
	overflow:hidden;
	padding: 0;
	margin: 6px;
	display: block;
	float: left;
	}
.list_carousel.responsive {
	width: auto;
	margin-left: 0;
	}

.carouselButtonPrevt {
	position:absolute;
	left:-10px; top:20px; 
	font-size:40px;
	}
.carouselButtonNext {
	position:absolute;
	right:-10px; top:20px; 
	font-size:40px;
	}
