@viewport, @-o-viewport, @-moz-viewport, @-webkit-viewport {
    width: device-width;
	}

* {
	margin:0;
	padding:0;
	}

#appView {background:white; margin: 0px auto; height:auto; width: 1020px;}
#appPreView {margin-top:10%;}
#appPreView, .whiteBG	{padding:1.0em; border:1px solid #d2e9f6;}

body {
	font: 100%/1.5 Arial, Helvetica, sans-serif; /* 16px */  
	color:#000000;
	background-color:#fff;
	margin:0;
	}
	
.openSansFont {font-family: "Open Sans";}
.openSansFontBold {font-family: "Open Sans"; font-weight: bold;}

.oswaldFont {font-family: Oswald;}
.oswaldFontBold {font-family: Oswald; font-weight: bold;}

.fontBlack {color: #000;}
.fontTeal {color: #3bb3c3;}
.fontYellow {color: #f8c301;}
.fontLightYellow {color: #ffe680;}
.fontRed {color: #e0463a;}
.fontSand {color: #f5f1de;}

.fontSize12 {font-size: 12px;}
.fontSize14 {font-size: 14px;}
.fontSize18 {font-size: 18px;}
.fontSize24 {font-size: 24px;}

.greyGradient {background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 1%, rgba(209,209,209,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,255,255,1)), color-stop(100%,rgba(209,209,209,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(209,209,209,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(209,209,209,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(209,209,209,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 1%,rgba(209,209,209,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */
}

a	{color:#2c99d4;}
a:hover	{color:#7bcbc7;}



/*
the design is basically a five column layout, so by sticking to these percentages for elements, we can ensure column integrety
the padding is to compensate for the spacing between the main nav.
 */
.percent20	{width:20%; padding:.2em;}
.percent40	{width:40%; padding:.2em;}

#mainContentArea	{padding:.4em .2em;} /* side padding is compensating for margins on main nav */

.headerContainer {height:auto; width:1020px; margin:auto; position:relative;}

/* topNav is the container for the content above the white bg */
.topNav	{height: 50px; width: 100%; font-size:.75em;} /* @REB - need a media query here to when this gets down to vertical pad size. @ phone size, hide items to make room */
.topNav	.guarantee {} /* @REB - add guarantee bg here using sprite */
.topNav nav	{text-align:right; color:#000;}
.topNav nav a	{text-decoration:none;}
.topNav nav a:hover	{text-decoration:underline;}
.topNav .localizedBox {height:53px; width:216px; text-align:center; background-color:#f5f1de; border:2px solid #fff; padding-top:5px; position:absolute; top:0px; left:40px; z-index:5; box-shadow:0px 2px 2px #000000;}
.topNav .phoneChatLive {height:50px; width:353px; margin:0px 0px 0px 351px; font-family:Oswald; font-weight:bold; font-size: 18px; line-height: 51px;}
.topNav .phoneIcon {height:50px; width:35px; background-position:0 10px;}
.topNav .liveHelp	{height:19px; width:145px; font-size:0.75em;}
.topNav .liveHelp div.icon {background-position:0 -91px; width:25px; height:19px;float:left;}
.topNav .liveHelp a {text-decoration:none; font-family:Oswald; font-weight:bold; font-size:18px;color:#000;}
.topNav .cartIcon {height:40px; width:30px; background-position:4px -45px; margin:0px 40px 0px 0px; padding: 10px 12px 0px 0px;}
.topNav .cartIcon a {color:#fff;}
.topNav .topNavLinks {height:50px; width:177px; margin:0px 10px 0px 0px; line-height:48px; padding-right:5px;}
.topNav .topNavLinks a {text-decoration:none; color: #000;}

.sprite {
	background-image:url(images/sprites-500x500.png);
}


#mastHead	{height:185px; width:auto; padding:0px 40px 0px 40px; position:relative; background-image:url(images/HeaderBackground.jpg); background-color:#f5f1de; border-bottom:5px solid #3bb3c3;} /* left/right padding to compensate for padding on main nav. helps w/ alignment */
#mastHead .phone {
	background-position:0 0;
	width:155px;
	height:28px;
}
#mastHead .headerRightContainer {height:185px; width:980px; padding: 20px 0px 0px 0px;}
#mastHead .bannerContainer {height:28px; width:241px; position:absolute; top:31px; left:38%;}
#mastHead .bannerContainer .banner	{width:49%; display:inline-block; margin:0; padding:0;}
#mastHead .logo {margin:30px 0px 0px 0px; position:absolute;}
#mastHead .freeShipping	{background-position:-123px -150px; height:28px; width:118px; float:left; margin-left:.2em;}
#mastHead .easyReturns	{background-position:0 -150px; height:28px; width:114px; float:right; margin-right:.2em;}

#mastHead .searchContainer {border: none; position:relative; width: 300px; margin-bottom: 20px;}
#mastHead .searchContainer .productSearchKeyword {border:0; background:#ffffff; text-indent:.4em; height:45px; width:200px;  box-shadow:-2px 2px 2px #000000;}
#mastHead .searchContainer .searchButton {background-color:#e0463a; border:none; text-align:center; font-size: 14px; color:#fff; width:100px; height:45px; cursor:pointer; float:Right; box-shadow:-2px 2px 2px #000000;}

#mastHead .dropdownsContainer {height:100px; width:780px;}
#mastHead .singleDropdown {height:80px; width:156px; background-position:-47px 99px; font-family:Oswald; font-weight:bold; font-size: 24px; color:#3bb3c3; text-align:center; line-height: 27px; padding-top: 25px;}
#mastHead .singleDropdown.singleLineDD {padding-top:30px;}
#mastHead .singleDropdown span {line-height:49px;}
#mastHead .singleDropdown:hover {background-position:-248px -1px;}
#mastHead .dropdown {height:0px; width:980px; margin:0px 0px 0px 20px; position:relative; top:21px; overflow:hidden; z-index:5; background-color:#e0463a;}
#mastHead .dropdown.beachAccessoriesDD {left: -200px;}
#mastHead .beachAccProduct {height:525px; width:740px; background-color:#ffe680; position:absolute; top:5px; left:240px;}
#mastHead .dropdown.beachChairsDD {left:-356px;}
#mastHead .dropdown.recreationDD {left:-512px;}
#mastHead .dropdown.umbrellasShelterDD {left:-668px;}
#mastHead .dropdown.beachWearDD {left:-824px}
#mastHead .dropdown.singleLineDD {padding-top:30px;}
#mastHead .dropdown ul {height: 522px; width:220px; margin: 5px 0px 5px 0px; padding: 0px 0px 3px 20px; background-color:#ffe680; font-weight: normal;}
#mastHead .dropdown li:first-child {height:27px; width:207px; font-family:Oswald; font-size:24px; font-weight: normal; color:#e0463a; text-align:left; margin: 20px 0px 16px 13px;}
#mastHead .dropdown.twoLine li:first-child {height:54px;}
#mastHead .dropdown li {height:27px; width:226px; font-family:"Open Sans"; font-size:14px; color:#000; text-align:left; margin: 3px 0px 3px 14px;}
#mastHead .dropdown li:hover {color:#e0463a; cursor:pointer; background-image:url(images/DropoutArrow-207x27.png);}


#mastHead .dropout.out {height:525px; width:0px; background-color:#f8c301; margin:0px 0px 0px 20px; position:relative; top:-117px; left:186px; overflow:hidden; z-index:5;} 
#mastHead .dropout.out ul {height: 522px; width:205px; margin: 90px 0px 0px 0px; padding:0px 0px 0px 6px; background-color:#f8c301;}
#mastHead .dropout.out li:first-child {height:27px; width:207px; font-family:"Open Sans"; font-size:14px; color:#000; text-align:left; margin: -5px 14px 3px 14px;}

#mastHead .overhang {height:268px; width:255px; color:#fff; font-family:Oswald; font-weight:bold; background-color:#3bb3c3; position:relative; top:165px; left:-279px; z-index:5;}
#mastHead .overhangClose {height:20px; width: 20px; background-position:-1px -96px; backgroung-color:#3bb3c3; border:none; position:absolute; top:5px; right:5px; z-index:5;}
#mastHead .overhang span {height:47px; width:255px; color:#ffe680; font-size:30px; text-align:center; position:absolute; top:25px; left:0px; z-index:5;}
#mastHead p {height:110px; width:214px; font-family:"Open Sans"; font-size:14px; margin:0px; position:absolute; top:75px; left:21px; z-index:5;}
#mastHead .overhangSpecialOfferButton {height:40px; width:190px; margin:10px auto 0px auto; background-color:#A1D3CA; color:#fff; font-size:18px; font-family:Oswald; font-weight:bold; text-align: center; line-height:18px; border:none; position:absolute; top:185px; left:33px; z-index:5;}

/*********************************************************************************
FOOTER
*********************************************************************************/

.footerContainer {height:685px; width:100%; background-image:url(images/FooterBackground-1020x685.png);}
.footerInteractContainer {height:115px; width:100%; position:relative; top:229px; left:0px;}
.footerSocialIcons {height:32px; width:250px; position:absolute; top:0px; right:148px;}
.footerSocialIconContainers {height:32px; width:32px; float:left; padding:0px 9px 0px 9px;}
.footerSocialIcons .facebook {background-position:8px -182px;}
.footerSocialIcons .twitter {background-position:-45px -182px;}
.footerSocialIcons .googlePlus {background-position:-98px -182px;}
.footerSocialIcons .pintrest {background-position:-151px -182px;}
.footerSocialIcons .email {background-position:-204px -182px;}

.footerNewsletter {height:60px; width:675px; position:absolute; top:55px; right:40px; color:#000;}
.footerNewsletter .nameField{border:0; background:#ffffff; font-family:"Open Sans"; text-indent:.4em; height:40px; width:220px; margin:0px 20px 0px 8px; box-shadow:-2px 2px 2px #000000;}
.footerNewsletter .emailField{border:0; background:#ffffff; font-family:"Open Sans"; text-indent:.4em; height:40px; width:140px;  box-shadow:-2px 2px 2px #000000;}
.footerNewsletter .joinButton {background-color:#e0463a; border:none; text-align:center; font-family:Oswald; font-weight:bold; font-size: 14px; color:#fff; width:80px; height:40px; cursor:pointer;  box-shadow:-2px 2px 2px #000000;}
.footerNewsletter h3 {font-family:Oswald; font-size:18px; font-weight:bold; line-height:16px; margin-top:6px; text-align:right;}
.footerNewsletter span {font-family:"Open Sans"; font-size:12px;}

.footerLinksContainer {height:315px; width:100%; margin-top:230px;}
.footerLinksContainer ul {height:auto; width:17%; padding:0% 0% 0% 6.7%; float:left; list-style:none; color:#3bb3c3;}
.footerLinksContainer li:first-child {color:#666; font-family:Oswald; font-weight:bold; font-size:18px; line-height:50px; cursor:text;}
.footerLinksContainer li {color:#3bb3c3; font-family:"Open Sans"; font-size:14px; line-height:27px; cursor:pointer;}
.footerLinksContainer li:hover {color:#e0463a;}

.footerIcons {height:107px; width:100%; position:relative; top:208px; left:0px; z-index:5;}
.footerIcons .ccCards {height:23px; width:223px; background-position:-1px -120px; position:absolute; bottom:0px; left:40px;}
.footerIcons .bbbBadge {height:43px; width:195px; position:absolute; bottom:-1px; left:273px;}
.footerIcons .googleTrustedBadge {height:58px; width:122px; background-color:#C09; position:absolute; top:0px; right:0px;  box-shadow:-2px 2px 2px #000000;}
.footerIcons .footerPhoneChat {height:22px; width:218px; color:#3bb3c3; font-family:Oswald; font-weight:bold; font-size:17px; position:absolute; bottom:0px; right:40px;}
.footerIcons .footerPhoneChat span {color:#000; font-family:"Open Sans"; font-size:10px; font-weight:400;}

.copyright {height: 54px; width: 100%px; padding-top: 33px; text-align: center; font-family:"Open Sans"; font-size:12px; color:#000; background-color:#fff; border-top:10px solid #3bb3c3;}
.copyright span {font-weight:bold; color:#3bb3c3;}
.copyright a {position:absolute; right:250px;}



.categoryNav	{position:relative;}
.categoryNav ul#tier1categories {
/*	display:inline;*/
	margin:0 auto;
	
	}
.rootCatThumb	{width:100%; overflow:hidden; text-align:center; vertical-align:central; display:none;}
.rootCatThumb img	{width:100%; height:100%}
.categoryNav ul li {
	list-style:none;
	float:left;
}

.categoryNav > ul > li	{
	width:20%; background:#0285cd; border-right:.2em solid #ffffff; border-left:.2em solid #ffffff;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */	
	}

.categoryNav > ul > li:nth-child(2), .categoryNav > ul > li:nth-child(4)	{background:#00a9a4;}
/* .categoryNav > ul > li:nth-child(3)	{background:#ffc50c;} */



.categoryNav > ul > li > a	{display:block; padding:.3em; border:.15em solid #ffffff; margin:.2em; color:#ffffff; text-decoration:none; text-align:center; font-size:1em;}

.categoryNav ul li li a {
	display:block;
	color:#000000;
	}

.categoryNav ul li a:hover {
	background-color:#FBF7AE;
	color:#F60;
}

.categoryNav .catMenu {
	display:none;
	background-color:#FBF7AE;
	padding:.4em;
	z-index:10001;
	margin:-1px .2em; /* side margins is to compensate for cols between main nav */
	position:absolute;
	left:0; right:0; height:260px; /* @REB - probably want a media query to adjust this height down as site scales down */
	}

.catMenu ul {
	float:left;
	margin: 0;
	width: 300px;
	}
.catMenu li {
	float:left;
	margin: 0;
	display:block;
	width: 50%;
	font-size:.75em;
	}

.catMenu ul li a {
	padding:3px;
	text-decoration:none;
	}

.catMenu ul li:hover	{color:#ffffff;}

.catMenu .catMenuImg {
	float:right;
}

.catMenuMenu  a{
	font-size:0.85em;
	font-weight:normal;
	padding:0;
	display:inline;
}

/*.categoryNav ul li ul.child_menu li {
	float:none;
}
*/
.categoryNav ul li:hover div.catMenu{
	display:block !important;
}

.social a , .social a:link, .social a:visited, .social a:hover, .social a:active{
	text-decoration:none;
}




.newsletterSubscriptionForm fieldset	{border:0;}







/*
HOMEPAGE
*/

.prodlistTitle	{margin:0; padding:0; color:#79ccc8; font-size:1.4em; line-height:1.2em;}

.newArrivalsContainer {height:300px; width:960px; margin:auto; padding-top:40px; background-color:#F00;}
.newArrivalsCarouselLeft {height:300px; width:630px; margin-left: 5px; overflow:hidden; position:relative; background-color:#0FF;}
.newArrivalsCarouselPagination {height:50px; width:630px; text-align:center; position:absolute; left:0px; bottom:0px; z-index:10;}
.newArrivalsCarouselPagination a {width:20px; height:20px; background:url(images/sprites-500x500.png); background-position:-1px -216px; margin:0 5.7px 1px 5.7px; display:inline-block;}
.newArrivalsCarouselPagination a.selected {background:url(images/sprites-500x500.png); background-position:-33px -216px;}
.newArrivalsCarouselPagination a span {display: none;}
.newArrivalsCarouselRight {height:300px; width:300px; margin-left:15px; overflow:hidden; background-color:#666; position:relative;}

.homepageCategories {height:310px; width:940px; margin: 0px auto 0px auto; padding:10px 0px 10px 0px; background-color:#0F0;}

.standardCarouselPagenation {height:30px; width:100%; text-align:center; padding-top:10px;}
.standardCarouselPagenation a {width:20px; height:20px; background:url(images/sprites-500x500.png); background-position:-63px -216px; margin:0 5.7px 1px 5.7px; display:inline-block;}
.standardCarouselPagenation a.selected {background:url(images/sprites-500x500.png); background-position:-33px -216px;}
.standardCarouselPagenation a span {display: none;}
.featuredProductsCarouselContainer {height:405px; width:1020px; border-bottom:5px solid #f8c301; background-color:#00C;}
.carouselTitles {height:35px; width:100%;}
.featuredCarousel {height:330px; width:1020px; background-color:#FF0;}
.bestSellersCarouselContainer {height:405px; width:1020px; border-bottom:5px solid #3bb3c3; background-color:#C3F;}
.bestSellersCarousel {height:330px; width:940px; padding:0px 40px 0px 40px; background-color:#F90; position:relative;}
.categoryDescriptionContainer {height:390px; width:1020px; background-color:#303;}

    

/* for the carousel */
.list_carousel {
	background-color: #79ccc8;
	position:relative;
	padding:.3em 2em;
	margin: 0 0 1.5em 0px;
	}
.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
	}
.list_carousel li {
	text-align: center;
	width: 120px;
	height: 120px;
	overflow:hidden;
	padding: 0;
	margin: 6px;
	display: block;
	float: left;
	}
.list_carousel.responsive {
	width: auto;
	margin-left: 0;
	}

.carouselButton	{
	background:url(images/carousel_buttons-66x60.png) no-repeat;
	width:35px;
	height:60px;
	text-indent:-10000em;
	position:absolute;
	top:30%; 
	z-index:1;
	}

.carouselButtonPrev {
	left:5px;
	}
.carouselButtonNext {
	right:-1px;
	background-position:-35px 0;
	}



/*
PRODUCT PAGE
*/





.prodTabViewContainer .ui-tabs .ui-tabs-nav li a	{font-size:13px; font-family:Helvetica, Arial, sans-serif; padding:6px;}

.prodTabViewContainer .ui-widget-header	{padding:3px 3px 0 3px; margin:0; border-width:0; border-bottom-width:1px;}
.prodTabViewContainer .ui-tabs	{padding:0;}
.ui-tabs .ui-tabs-nav li	{margin-right:2px;}



.mtClickToZoom	{background:url(images/bm09_c_zoomicon-95x28.png) no-repeat; width:95px; height:28px; position:absolute; right:5px; bottom:5px; display:none; z-index:100;}
.prodThumbAndMT	{position:relative; width:175px; height:130px;}
.prodThumbAndMT .prodThumbContainer	{z-index:10; position:absolute; top:0; left:0;}




/* used for the picture slider mouse over effect in some product lists */

.slideMe	{position:absolute; top:0px; width:20000px; z-index:99;}
.slideMe, .slideMe li	{list-style:none; margin:0; padding:0;}
.slideMe li	{float:left; margin:0 2px 0 0;}




.toolTip	{
	display:none;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0px 0px 8px 2px #666666;
	box-shadow: 0px 0px 8px 2px #666666; 
	background:#ffffff;
	padding:8px;
	position:absolute;
	width:300px;
	left:-120px;
	z-index:10001;
	text-align:left;
	}
.toolTip p	{margin:6px 0;}

/*
global app styles 
*/
.cents {font-size: 50%;	vertical-align: super;}

.thumbContainer {width:100%;}
.categoryList li {border:1px dotted #0285CD;}
.categoryList li:nth-child(even) {border:1px dotted #00a9a4;}
.catThumb {margin:5px 0 0 5px;vertical-align:baseline;}
.catName {background-color:#0285CD; color:#FFFFFF; padding:1.2em 0; text-align:center;width:150px;max-height:19px;}
.categoryList li:nth-child(even) .catName {background-color:#00a9a4;}


.productListTall li {float: left;  margin: 0px 5px 0px 5px;}
newArrivalsCarouselRight, .productList li {height:300px; width:300px; float:left; margin:0px;}
newArrivalsCarouselRight, .productList li > div {width:300px;}
newArrivalsCarouselRight, .myProdThumb {padding-left:40px;  border:5px solid #3bb3c3;}
newArrivalsCarouselRight, .prodTextContainer {font-family:Oswald; font-size:24px;}
newArrivalsCarouselRight, .prodDesc, .productList h5, .categoryList h5 {color:#000; font-family:"Open Sans"; font-size:13px; text-align:center; line-height:16px; padding:7px 10px 0px 7px;}
newArrivalsCarouselRight, .prodPrice, .productList h6, .categoryList h6 {margin-left:15px;}
newArrivalsCarouselRight, .moreDetails {height:30px; width:100px; color:#fff; font-size:14px; text-align:center; line-height:25px; background-color:#3bb3c3;}

.productListSmall.productList li {height:303px; width:220px; float:left; margin:20px 7.5px 7.5px 7.5px;}
.productListSmall.productList li > div {width:220px;}
.myProdThumbSmall {height:210px; border:5px solid #3bb3c3;}
.prodTextContainerSmall {font-family:Oswald; font-size:24px;}
.prodDescSmall, .productList h5, .categoryList h5 {color:#000; font-family:"Open Sans"; font-size:11px; text-align:center; line-height:13px; padding:7px 10px 0px 7px;}
.prodPriceSmall, .productList h6, .categoryList h6 {margin-left:15px;}
.moreDetailsSmall {height:30px; width:100px; color:#fff; font-size:14px; text-align:center; line-height:25px; background-color:#3bb3c3;}



.productList h5, .categoryList h5 {height:5em;margin-bottom:0.5em;}
.productListItem .zlink	{color:#FC410E;}
.pogType_attribs	{display:none;}

.productListItem .colorful	{background:url(bmo9_btn_colors-67x11.png) no-repeat; width:67px; height:11px; float:left; margin-right:8px;}
.productListItem .sizeable	{background:url(bmo9_btn_sizes-56x7.png) no-repeat center center; width:56px; height:11px; float:left; margin-right:8px;}
.productListItem .shipfree	{background:url(bm09_freeshipping-63x19.gif) no-repeat; width:63px; height:19px; float:left; margin-right:8px;}

/* # of reviews is hidden in smaller prodlists */
#prodlistRecentlyViewed .pr-snippet-review-count  {display:none;} 
.productList .productListItem {display:none;}


.zform_number	{width:65px; text-align:center;}
/* 
Images and video section
*/

#prodImageVideoTabs img	{z-index:1000;}
#prodImageVideoTabs iframe	{z-index:1;}
#prodImageVideoTabs li span	{padding-right:3px;}
#prodImageVideoTabs .ui-widget-header .ui-state-default a	{color:#ffffff;padding-right:12px; font-weight:bold;}
#prodImageVideoTabs .ui-widget-header .ui-state-default	{
	line-height:24px;
border:#006;
background: #6db3f2; /* Old browsers */
background: -moz-linear-gradient(top,  #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db3f2), color-stop(50%,#54a3ee), color-stop(51%,#3690f0), color-stop(100%,#1e69de)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* IE10+ */
background: linear-gradient(to bottom,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
	}
#prodImageVideoTabs .ui-widget-header .ui-state-active	{background:#ffffff; }
#prodImageVideoTabs .ui-widget-header .ui-state-active a	{color:#666666;}
/* carousel styles for product thumbnails */

.imageContainer .ui-tabs .ui-tabs-panel	{padding:6px;}
.imageContainer .zhint	{text-align:center; padding:6px 0;}
.imageContainer	{width:402px; padding:0px 20px 0px 0px; float:left;}
#prodImageVideoTabs	{margin-right:24px;}

.prodPageImages	{width:380px;}
/*
Top content area (price, add to cart, etc)
*/

.prodSummaryContainer.marginBottom.no_underline {width:106%;}
.leftProdColumn {width: 78%; float:left;}

h1.prodName	{font-size:18px; margin:0; padding:0; margin-bottom:6px;}
.prodStidAndMfg span	{padding-right:24px; font-size:12px;}


.priceContainer	{padding:12px 0;}
.basePrice	{font-size:18px; font-weight:bold;}
.basePrice .prompt	{color:#34af99;}
.basePrice .value	{color:#e63738;}
.priceContainer .savings, .retailPrice	{color:#666666; font-size:13px;}

.addToCartButton	{
	height:50px;
	width:170px;
	margin:6px 0;
	text-indent:-10000px;
	background:url(bm12_addtocart-170x50.png) no-repeat; padding:0; border:0;
	}
	

.preorderButton	{
	height:33px;
	width:159px;
	margin:6px 0;
	text-indent:-10000px;
	background:url(bm10_preorder-159x33.png) no-repeat; padding:0; border:0;
	}

.sizingChartLink	{padding:22px 25px 0 0px;} /* don't set a display: here. displayNone is used and element is toggle on based on whether a value is set */

.preorderButton	{
	text-indent: 0px;
background: #b7deed; /* Old browsers */
background: -moz-linear-gradient(top,  #b7deed 0%, #71ceef 50%, #21b4e2 51%, #b7deed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7deed), color-stop(50%,#71ceef), color-stop(51%,#21b4e2), color-stop(100%,#b7deed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=0 ); /* IE6-9 */

	-webkit-border-radius: 4px;
	border-radius: 4px; 
	border:1px solid #1D76C4;
	color:#ffffff;
	font-size:17px;
	font-weight:bold;
	font-family:Helvetica, Arial, sans-serif;
	padding:2px 6px !important;
	text-shadow: 0px 0px 4px #1D76C4;
    filter: dropshadow(color=#1D76C4, offx=0, offy=0);
	}


.mainProdColumn	{float:left; width:500px;}
.rightProdColumn	{float:right; width:249px; position:relative;}

.priceContainer .basePrice	{float:left;}
.priceContainer .savings	{padding-left:24px;}
.priceContainer .retailPrice	{clear:both;}

/* shipping section */
.topBottomBorder	{border:1px dotted #666666; border-left-width:0; border-right-width:0; padding:12px 0;}
.shipfree	{width:119px; height:17px; background: url(bm12_shipfree-107x17.gif) no-repeat;}
.shippingInformation .loadingBG	{background:url(wait.gif) no-repeat; min-height:16px; min-width:16px; padding-left:20px;}

/* right column (from add to cart) */
.txtBorderBox	{border:1px solid #fbb325; background:#fdf9e6; padding:3px; font-size:11px; margin-bottom:3px;}
/* apply this and .txtBorderBox */
.txtBorderBoxHeader {
    background-color: #FBB325;
    color: #FFFFFF;
    font-size: 9pt;
	font-weight:bold;
	}

/* add to cart section */

.prodViewerAddToCartForm fieldset	{padding:0 0 12px 0; margin:0;}
.prodViewerAddToCartForm label:after	{content:":"; padding-right:10px;}

.pogType_imgselect .zform_select	{margin:5px 0 15px 0;}
.sogImgThumbnail	{margin:0 3px 3px 0;} 
#prodlistSiblings li	{width:55px; height:55px; float:left; margin:0 12px 12px 0;}


/*
lower tab sets (text fields and product lists)
*/

#tabbedProductContentTD	{padding-right:12px;}
#tabbedProductContentTD .ui-tabs-panel	{height:424px; overflow:auto;}

.tabbedProductListsTD	{width:190px;}
.tabbedProductListsTD .ui-tabs .ui-tabs-panel	{padding:6px;}

.tabbedProductListsTD .jcarousel-skin-default {position:relative;}

.tabbedProductListsTD  .backButton	{position:absolute; top:0px; left:83px;}
.tabbedProductListsTD  .nextButton	{position:absolute; bottom:0px; left:83px;}

.tabbedProductListsTD  .jcarousel-skin-default .jcarousel	{margin:22px auto; width:175px;}

#prodBundle, #prodSiblings, #prodColors	{padding:0 !important;} /* product lists will handle their own padding/margin inside these tabs */


.bundleProdlist li	{width:350px; margin:12px; height:120px;}
.bundleProdlist .prodThumbAndMT	{float:left; margin-right:6px;position:relative; width:120px; height:100px;}
.bundleProdlist .prodContent	{float:left; width:200px;}
.bundleProdlist .spanTastic	span	{margin-right:12px; display:inline-block; float:left;}
.bundleProdlist .spanTastic	{padding:6px 0;}

.productListItem h5	{font-weight:normal;}

#prodSizing img	{float:left; margin:0 12px 12px 0;}


/* some wiki styling. targeted at tabs for now. if/when full app, these could be more global (or at least mainContentArea) */
#tabbedProductContent h1, #tabbedProductContent h2, #tabbedProductContent h3	{margin-bottom:6px;}
#tabbedProductContent table	{
	background:#efefef;
	margin:0 0 12px 0;
	padding:0;
	width:100%;
	border-spacing:1px;
	border-collapse: separate;
	}

#tabbedProductContent table th	{background:#efefef;}
#tabbedProductContent table td	{background:#ffffff;}
#tabbedProductContent table td, #tabbedProductContent table th	{
    padding: 2px 5px; /* 'cellpadding' equivalent */
	text-align: left;
	}



/* product page carousel for images */
#imageSlideshow {
	width: 380px;
	margin: 0 15px;
	position:relative;
	}
#imageSlideshow ul {
	width: 350px;
	overflow: hidden;
	margin-bottom: 0px;
	border: 0px solid #efefef;
	margin: 0;
	padding: 0;
	list-style-type: none;
	}
#imageSlideshow li {
	list-style-type: none;
	float: left;
	width: 50px;
	height: 50px;
	margin:0 7px 0 2px; /* this'll get the images justified under the main product image */
	padding: 0px;
	}



/* product page carousel for prodlists (vertical) */
.prodlistSlideshow {
	width: 190px;
	margin: 15px 0;
	position:relative;
	}
.prodlistSlideshow ul {
	width: 190px;
	overflow: hidden;
	margin-bottom: 0px;
	border: 0px solid #efefef;
	margin: 0;
	padding: 0;
	list-style-type: none;
	}
.prodlistSlideshow li {
	list-style-type: none;
	float: left;
	width: 190px;
	height: 250px;
	margin:0 7px 0 2px; /* this'll get the images justified under the main product image */
	padding: 0px;
	}




.slideshowContainer	{position:relative;}	
.slideshowContainer .prev	{position:absolute; left:-3px; top:10px;}
.slideshowContainer .next	{position:absolute; right:-3px; top:10px;}

.slideshowContainerVertical	{position:relative; width:auto;}	
.slideshowContainerVertical .prev	{position:absolute; top:-18px; left:80px;}
.slideshowContainerVertical .next	{position:absolute; bottom:-18px; left:80px;}



/* power reviews */
.pr-snippet-wrapper, .pr-snippet, .pr-snippet-stars 	{padding:0; border:0; background-color:#ffffff; background-image:none;}

.pr-snippet-review-count	{font-size:10px; line-height:12px;}
.pr-snippet-read-write	{border:0;}
.pr-snippet-read-reviews	{padding:0 5px 0 0;}
.pr-snippet-write-review	{padding:0 0 0 5px;}

/* ship times modal */

#modalShipGrid table td	{padding:0 10px;}


/* Carousel Styles */

.carouselNav	{background:url(carousel_buttons-100x100.png) no-repeat; cursor:pointer;}
.carouselNavSmW	{background-position:0 -74px; width:9px; height:17px;}
.carouselNavSmE	{background-position:-9px -74px; width:9px; height:17px;}
.carouselNavSmN	{background-position:-22px -75px; width:17px; height:8px;}
.carouselNavSmS	{background-position:-22px -83px; width:17px; height:8px;}


.carouselNavMdW	{background-position:0 -37px; width:11px; height:24px;}
.carouselNavMdE	{background-position:-12px -37px; width:11px; height:24px;}
.carouselNavMdN	{background-position:-27px -37px; width:23px; height:11px;}
.carouselNavMdS	{background-position:-27px -50px; width:23px; height:11px;}

.carouselNavLgW	{background-position:0 0px; width:17px; height:35px;}
.carouselNavLgE	{background-position:-18px 0px; width:17px; height:35px;}
.carouselNavLgN	{background-position:-39px 0px; width:35px; height:17px;}
.carouselNavLgS	{background-position:-39px -18px; width:35px; height:17px;}


/*

PRODUCT VIEWER / MODAL

*/



#product-modal .pContainer	{width:90%;}





/*

CART TEMPLATE

*/
#modalCart	{min-width:750px;}
.cartStuffListContainer	{height: 300px; overflow:auto;}

#upsellList, .cartSummaryTotalsContainer	{width:350px;}
.cartSummaryTotalsContainer .cartSummaryContainer {padding: 0px;}
.upsellContainer	{height:500px; overflow:auto;}

#upsellList .bundleProdlist li	{margin:0 0 12px 0; padding: 0 0 12px 0; border-bottom:1px dashed #efefef;}


#modalCart .lineItemProdlist li	{width:250px; padding:0 0 12px 0; margin:0 0 12px 0; border-bottom:1px dashed #FFCC66;}

/* checkout buttons */
.checkoutButtonsContainer {border-bottom:1px solid #cccccc;}
.checkoutButtonsContainer span	{float:right; margin:0 0 0 12px;}




/*
some shared styles, pulled from cat layout but that will impact, potentially, more than that
*/
/* powerreviews style */
.pr_snippet_category .prSnippetRatingDecimal {
    height:1px; overflow:hidden; font-size:1px; color:#ffffff; margin:0px; padding:0px;
	}


/* magictoolbox styles */

/* CSS class for thumbnail link <A> */
.MagicThumb {
    cursor: url(zoomin.cur), pointer;
    outline: none;
}



/* CSS class for the zoomed big image */
.MagicThumb-image-zoomed { cursor: url(zoomout.cur), pointer; }



.MagicThumb-controlbar a span {
	display: block;
	width: 1000px;
	height: 1000px;
	background: transparent url(controlbar.png) no-repeat 0 0;
	outline: none;
	position: absolute;
	left: 0px;
	top: 0px;
}




/* CSS class for the loading message box */
.MagicThumb-loading {
	border: 0px solid #000000;
	background: #ffffff url(loader.gif) no-repeat 2px 50%;
	padding: 2px 2px 2px 22px;
	margin: 0;
	text-decoration: none;
	text-align: left;
	font-size: 8pt;
	font-family: sans-serif;
}





@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
	.categoryNav > ul > li > a	{font-size:.7em;}
	#mastHead .bannerContainer .hideMed	{display:none;}
	#mastHead .hideMed	{display:none;}
	#mastHead .bannerContainer	{width:125px; left:35%;}
	}

@media only screen and (max-width: 650px), only screen and (max-device-width: 650px) {
	.hideSmall	{display:none;}
	.categoryNav > ul > li > a	{font-size:.6em;}
	}

@media only screen and (max-width: 600px), only screen and (max-device-width: 600px) {
	
	
	#mastHead 	{height:45px;}
	#mastHead .logo img	{width:84px; height:42px;}
	#mastHead .phone	{width:130px; background-position: -27px 0; margin-top:0; } /* crop icon from phone. */
	}


.blah {background-color: #ff0;}
.blah2 {background-color: #C3F;}
.blah3 {background-color:#F0F;}
.blah4 {background-color: #0FF;}
.blah5 {background-color: #3F0;}