@charset "utf-8";
* {margin:0; padding:0;}
body {font-family: Oswald, Helvetica, sans-serif; font-size: 14px; font-weight:normal; color:#000000; background-color:#ffffff; margin:0; height:100%; width:100%;}
a {text-decoration:none;}
a {color:#3bb3c3;}
a:hover	{color:#e0463a;}
.clear {clear:both;}
#appView {background:white; margin: 0px auto; height:auto; width: 1020px;}
.sprite {background-image:url(images/sprites-500x500.png);}
.fontTeal {color:#3bb3c3;}
.fontSize12 {font-size:12px;}
.fontSize14 {font-size:14px;}

/*HEADER*/
.headerContainer {height:auto; width:1020px; margin:auto; position:relative;}
.topNav	{height: 50px; width: 100%; font-size:.75em;} /* @REB - need a media query here to when this gets down to vertical pad size. @ phone size, hide items to make room */
.topNav nav	{text-align:right; color:#000000;}
.tanGradient {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f5f1de 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f1de)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f5f1de 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f5f1de 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f5f1de 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f5f1de 100%); /* W3C */
}
.topNav .localizedBox {height:53px; width:216px; text-align:center; background-color:#f5f1de; border:2px solid #ffffff; padding-top:5px; position:absolute; top:0px; left:40px; z-index:5; box-shadow:0px 2px 2px #000000;}
.geoDropdown {height:0px; width:460px; background-color:#f8c301; padding:0px 20px; line-height:31px; position:relative; top:8px; left:-42px; z-index:6; overflow:hidden; text-align:left; font-family:"Open Sans"; font-size:12px; color:#000000;}
.topNav .phoneChatLive, .cartFooter .phoneChatLive {height:50px; width:353px; margin:0px 0px 0px 351px; font-family:Oswald; font-weight:bold; font-size: 18px; line-height: 51px;}
.topNav .phoneIcon, .cartFooter .phoneIcon {height:50px; width:35px; background-position:0 10px;}
.topNav .phoneChatLive .orspan {display:inline; padding:0 4px 0 0; font-size:14px;}
.topNav .liveHelp a {text-decoration:none; font-family:Oswald; font-weight:bold; font-size:18px;color:#000000;}
.topNav .topNavLinks a {text-decoration:none; color: #000000;}
.topNav .cartIcon {height:30px; width:57px; display:block; background-position:4px -40px; margin:0px 40px 0px 0px; padding: 15px 0px 0px 0px;}
.topNav .cartIcon .cartItemCount {height:17px; width:21px; text-align:center; display:inline-block; color:#ffffff;}
.topNav .topNavLinks {height:50px; width:97px; line-height:48px; text-align:left;}
#mastHead	{height:159px; width:auto; padding:0px 40px 0px 40px; position:relative; background-color:#ffffff; border-bottom:5px solid #3bb3c3;} /* left/right padding to compensate for padding on main nav. helps w/ alignment */
#mastHead .logo {height:60px; width:220px; background-position:0 -250px; margin:30px 0px 0px 0px; position:absolute;}
#mastHead .headerRightContainer {height:150px; width:980px; padding: 20px 0px 0px 0px;}
#mastHead .searchContainer {border: 2px solid #f8c301; position:relative; width: 305px; margin-bottom: 20px; box-shadow:-2px 2px 2px #999; background-color:#f8c301;}
#mastHead .searchContainer .productSearchKeyword {border:0; background:#ffffff; text-indent:.4em; height:40px; width:200px; color:#3bb3c3;}
#mastHead .productSearchForm > div {height:40px; width:40px; background-position:-49px -10px;}
#mastHead .searchContainer .searchButton {background-color:#f8c301; border:none; text-align:center; font-size: 14px; color:#e0463a; width:60px; height:40px; cursor:pointer; float:Right; }
#mastHead .bannerContainer {height:50px; width:214px; position:absolute; top:31px; left:38%;}
#mastHead .bannerContainer .banner {height:27px; width:100%; margin:0; padding:0; background-position:0 -150px; display:block;}
#mastHead .dropdownsContainer {height:65px; width:942px; margin:10px 0; padding:0 39px;}
#mastHead .dropdownsContainer a {text-decoration:none; color:#ffffff;}
#mastHead .singleDropdown {height:45px; width:145px; background-position:-88px 65px; padding:10px 6px 15px 6px;}
#mastHead .dropdownsContainer .dropdownBorderMaker {height:30px; width:130px; background-color:#3bb3c3; border:2px solid #ffffff;}
#mastHead .singleDropdown .dropdownBorderContainer {height:35px; width:135px; background-position:-47px 99px; background-color: #3bb3c3; font-family:Montserrat, Verdana, sans-serif; font-weight:normal; font-size: 16px; color:#ffffff; text-align:center; line-height: 30px; padding:5px;}
#mastHead .dropdown {height:0px; width:486px; margin:0px 0px 0px 20px; position:relative; top:11px; overflow:hidden; z-index:5; background-color:transparent;} /*#e0463a;*/

/*FOOTER*/
.footerContainer {height:685px; width:100%; background:url(images/footer-background-1020x375.jpg) no-repeat top center;}
.footerInteractContainer {height:115px; width:100%; position:relative; top:229px; left:0px;}
.footerSocialIcons {height:32px; width:250px; position:absolute; top:0px; right:148px;}
.footerSocialIconContainers {height:32px; width:32px; float:left; padding:0px 9px 0px 9px;}
.footerSocialIcons .facebook {background-position:8px -182px;}
.footerSocialIcons .twitter {background-position:-45px -182px;}
.footerSocialIcons .googlePlus {background-position:-98px -182px;}
.footerSocialIcons .pintrest {background-position:-151px -182px;}
.footerSocialIcons .email {background-position:-204px -182px;}

.footerNewsletter {height:auto; width:auto; position:absolute; top:55px; right:40px; color:#000000;} /*height:60px; width:675px;*/
.footerNewsletter .nameField{border:0; background:#ffffff; font-family:"Open Sans"; text-indent:.4em; height:40px; width:220px; margin:0px 20px 0px 8px; box-shadow:-2px 2px 2px #000000;}
.footerNewsletter .emailField{border:0; background:#ffffff; font-family:"Open Sans"; text-indent:.4em; height:40px; width:140px;  box-shadow:-2px 2px 2px #000000;}
.footerNewsletter .joinButton {background-color:#e0463a; border:none; text-align:center; font-family:Oswald; font-weight:bold; font-size: 14px; color:#ffffff; width:80px; height:40px; cursor:pointer;  box-shadow:-2px 2px 2px #000000;}
.footerNewsletter h3 {font-family:Oswald; font-size:18px; font-weight:bold; line-height:16px; margin-top:6px; text-align:right;}
.footerNewsletter span {font-family:"Open Sans"; font-size:12px;}

.footerLinksContainer {height:345px; width:100%; background:url(images/sand-background_36x36.jpg) repeat; margin-top:230px;}
.footerLinksContainer ul {height:auto; width:17%; padding:0% 0% 0% 6.7%; float:left; list-style:none; color:#3bb3c3;}
.footerLinksContainer li:first-child {color:#666; font-family:Oswald; font-weight:bold; font-size:18px; line-height:50px; cursor:text;}
.footerLinksContainer li {color:#3bb3c3; font-family:"Open Sans"; font-size:14px; line-height:27px; cursor:pointer;}
.footerLinksContainer li:first-child ~ li:hover {color:#e0463a;}

.footerIcons {height:77px; width:100%; position:relative; top:238px; left:0px; z-index:5;}
.footerIcons .ccCards {height:23px; width:223px; background-position:-1px -120px; position:absolute; bottom:0px; left:40px;}
.footerIcons .bbbBadge {height:43px; width:195px; position:absolute; bottom:-1px; left:273px;}
/* ADD THIS BACK INTO THE LINE BELOW ONCE GOOGLE TRUSTED BADGE HAS BEEN CLEARED BY GOOGLE: box-shadow:-2px 2px 2px #000000; */
.footerIcons .googleTrustedBadge {height:58px; width:122px; position:absolute; top:0px; right:0px;}
.footerIcons .footerPhoneChat {height:22px; width:268px; color:#3bb3c3; font-family:Oswald; font-weight:bold; font-size:17px; position:absolute; bottom:0px; right:40px;}
.footerIcons .footerPhoneChat span {float:right; padding:0 4px 0 0;}
.footerIcons .footerPhoneChat .footerOr {color:#000000; font-family:"Open Sans"; font-size:10px; font-weight:400; display:inline; float:none; padding:0;}

.copyright {height: 90px; width: 100%; position:relative; text-align: center; font-family:"Open Sans"; font-size:12px; color:#000000; background-color:#ffffff; border-top:10px solid #3bb3c3; margin-bottom:30px;}
.copyright .nortonSecure {position:absolute; left:20px; width:135px;}
.copyright .nortonSecure td {width:135px;}
.copyrightText {margin:30px auto 0 auto;}
.copyright span {font-weight:bold; color:#3bb3c3;}
.copyright .mcAfee {position:absolute; right:20px; top:30px;}
